.menu {
	background: #50b7dc;
	-webkit-box-shadow: rgba(0,0,0,0.3) 0px 2px 2px -1px;
	-moz-box-shadow: rgba(0,0,0,0.3) 0px 2px 2px -1px;
	box-shadow: rgba(0,0,0,0.3) 0px 2px 2px -1px;
	border-bottom: 1px solid #2693ba;
	z-index: 1000;
}

div > ul {
	list-style: none;
	margin: 0;
	text-align: center;
}

div > ul > li {
	display: inline-block;
	text-align: center;
	padding: 20 100;
}

div > ul > li > a:link, .top > ul > li > a:visited {
	text-decoration: none;
	color: blue;
	font-weight: bold;
}

.slider ul {
	text-align: left;
}

.slider ul > li {
	padding: 10 10;
}

.slider {
	overflow: hidden;
}

.s-content-wrapper, .scroll-left, .scroll-right {
	display: block;
}

.scroll-left, .scroll-right {
	height: 220px;
	background-color: white;
	z-index: 99;
	opacity: 0.5;
	width: 40px !important;
	position: absolute;
	top: 0;
}

.scroll-right {
	display: none;
}

.slider {
	position: relative;
}

.s-content-wrapper {
	z-index: 10;
	overflow: hidden;
	position: relative;
}